.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.navBar{
  width: 100%;
  height: 9%;
  background: #000000;
  padding: 5px 25px; 
  display: flex;
  align-items: center;
  color: #ffffff;
}
.iconsRS{
  margin-left: 10px;
}
.iconsRS img{
  padding-left: 20px;
}
.areaVideo{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  background: #000000;
}
.video{
  width: 85%;
  height: 100%;
  background: #000000;
}
.areaInfoVideo{
  width: 100%;
  height: 26%;
  padding: 5px 69px; 
  background: #000000;
  display: flex;
}
.p{
  padding-top: 5px;
  color: #47C4E8;
}
.areatitulo{
  width: 60%;
}
.p2{
  padding-top: 8px;
  color: #5f5f5f;
  font-size: 14px;
  line-height: 155%;
}
.p3{
  color: #e9e9e9;
  font-size: 12px;
  margin-right: 20px;
}
.iconInfo{
  color: #ffffff;
  font-size: 10px;
  margin-right: 5px;
}
.titulo{
  color: #ffffff;
  font-size: 25px;
  font-weight: 600; 
}
.areaLike{
  margin-left: 0px;
  margin-top: 0px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.areaControles{
  background: rgba(26,26,26,0.8);
  color: white;
  display: flex;
  margin-top: 0px;
  width: 60%;
  position: absolute;
  padding: 10px 10px;
  align-items: center;
}
.iconPlay{
  margin-right: 10px;
}
.barraplay{
  width: 70%;
  height: 3px;
  margin-right: 10px;
  cursor: pointer;
  background: rgb(245, 4, 4);
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  display: inline-block; 
}

.barravolume{
  width: 7%;
  height: 3px;
  margin-right: 10px;
  appearance: none;
  outline: none;
  cursor: pointer;
  background: rgb(245, 4, 4);
  display: inline-block;
}

.imagens{
  width:15%;
  display:flex;
  flex-direction: column;
  overflow-y:scroll;
}